# .env example ----

# Variables de entorno de la app
SERVER_PORT=8080
SECRET_JWT=32_bits_password_secure_123456
EXPIRATION_CODE_JWT=3600000

# variables de entorno de la base de datos
IP_DB=localhost
PORT_DB=5432

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=netiot